.sd{
    background-color: rgb(233, 94, 94);
    color: white;
    font-weight: bolder;
    position: absolute;
    z-index: 1;
    padding: 2px;
}
.sp{
    background-color: rgb(146, 211, 62);
    color: white;
    font-weight: bolder;
    position: absolute;
    z-index: 1;
    padding: 2px;
}
.banner{
    border: 1px solid #ccc;
    margin: 10px 0;
}
.navbar-brand {
    letter-spacing: -2px;
}

.navbar-brand::first-letter {
    font-size: 25px;
}

/* ANASAYFA BAŞLANGIÇ CSS */
.carousel-item img {
    height: 350px;
}

.card {
    position: relative;
    padding: 12px;
}

.card .btn {
    display: block;
}

.card .spor {
    position: absolute;
    background-color: green;
    right: 0;
    color: white;
    padding: 3px;
    font-weight: bolder;
}

.card .sondakika {
    position: absolute;
    background-color: red;
    right: 0;
    color: white;
    padding: 3px;
    font-weight: bolder;
}

#two .card {
    width: 25%;
}
.card:hover {
    transform: scale(1.03);
    transition: 0.5s;
    z-index: 1;
    box-shadow: 15px 15px 8px grey;
    border-radius: 6px;
}
.spor{
    margin: 5px;
    letter-spacing: 3px;
    box-shadow: 6px 6px 3px grey;
}
.haber {
    .spor{
        margin: 5px;
        letter-spacing: 3px;
        box-shadow: 6px 6px 3px grey;
    }
}












@media(max-width:768px) {
    #two .card {
        width: 100%;
    }
    .card:hover {
        transform: none;
        transition: none;
        z-index: none;
        box-shadow: none;
        border-radius: none;
    }
}